.button {
    border-radius: 3px;
    border-width: 0px;
    height: 40px;
    padding: auto;
    text-decoration: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-color: grey;
    color: white;
}
